# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = dustin boyden
	email = zshiftonline@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = store
[safe]
	directory = /var/www/html/zshift-online
#[credential "https://github.com"]
#	helper = 
#	helper = !/usr/bin/gh auth git-credential
