# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = dustin boyden
	email = zshiftonline@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = store
