[submodule "ohmyzsh/.config/ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "ohmyzsh/.config/ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "ohmyzsh/.config/ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-completions"]
	path = ohmyzsh/.config/ohmyzsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "ohmyzsh/.config/ohmyzsh/custom/themes/powerlevel10k"]
	path = ohmyzsh/.config/ohmyzsh/custom/themes/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k.git

[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git
[submodule "nvim/.config/nvim/plugged/nerdtree"]
  path = nvim/.config/nvim/plugged/
  url = https://github.com/nsf/gocode.git
[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git
[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git
[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git
[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git

[submodule "nvim/.config/nvim/plugged/gocode"]
  path = nvim/.config/nvim/plugged/gocode
  url = https://github.com/nsf/gocode.git
